<<<<<<< HEAD
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-10 bg-white p-4 shadow">
        <%= simple_form_for([@user, @profile]) do |form| %>
=======
<div>
  <div class="row d-flex ">
    <div class="col-12 col-10 bg-white p-4 shadow">
      <%= simple_form_for([@user, @profile], html: { data: { turbo: false } }) do |form| %>
>>>>>>> master

          <div class="form-group">
            <%= form.input :username, label: 'Nombre', placeholder: 'Nombre de 06 caracteres' %>
          </div>

<<<<<<< HEAD
          <div class="form-group">
            <div class="checkbox-group d-flex flex-wrap">
              <div class="tag-item">
                <%= form.check_box :gluten, class: 'tag-selector' %>
                <%= form.label :gluten, 'No Gluten', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :dairy, class: 'tag-selector' %>
                <%= form.label :dairy, 'No Lacteos', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :peanut, class: 'tag-selector' %>
                <%= form.label :peanut, 'No Nueces', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :seafood, class: 'tag-selector' %>
                <%= form.label :seafood, 'No comida marina', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :soy, class: 'tag-selector' %>
                <%= form.label :soy, 'No Soya', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :egg, class: 'tag-selector' %>
                <%= form.label :egg, 'No huevos', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :sesame, class: 'tag-selector' %>
                <%= form.label :sesame, 'No ajonjoli', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :sugar, class: 'tag-selector' %>
                <%= form.label :sugar, 'No Azucar', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :vegetarian, class: 'tag-selector' %>
                <%= form.label :vegetarian, 'Vegetariano', class: 'tag-selector-label' %>
              </div>
              <div class="tag-item">
                <%= form.check_box :vegan, class: 'tag-selector' %>
                <%= form.label :vegan, 'Vegano', class: 'tag-selector-label' %>
              </div>
=======
        <div class="form-group">
          <%= form.label :image, 'Elije una imagen' %>
          <div class="image-radio-group justify-content-around">

            <div class="image-radio-item text-center">
              <%= form.radio_button :image, 'profiles/female-avatar-1.png', class: 'image-radio-input', id: 'female_avatar_1' %>
              <label for="female_avatar_1" class="image-radio-label">
                <%= image_tag 'profiles/female-avatar-1.png', alt: 'Image 1', class: 'selectable-image' %>
              </label>
            </div>

            <div class="image-radio-item text-center">
              <%= form.radio_button :image, 'profiles/female-avatar-2.png', class: 'image-radio-input', id: 'female_avatar_2' %>
              <label for="female_avatar_2" class="image-radio-label">
                <%= image_tag 'profiles/female-avatar-2.png', alt: 'Image 2', class: 'selectable-image' %>
              </label>
            </div>

            <div class="image-radio-item text-center">
              <%= form.radio_button :image, 'profiles/female-avatar-3.png', class: 'image-radio-input', id: 'female_avatar_3' %>
              <label for="female_avatar_3" class="image-radio-label">
                <%= image_tag 'profiles/female-avatar-3.png', alt: 'Image 3', class: 'selectable-image' %>
              </label>
            </div>

            <div class="image-radio-item text-center">
              <%= form.radio_button :image, 'profiles/male-avatar-1.png', class: 'image-radio-input', id: 'male_avatar_1' %>
              <label for="male_avatar_1" class="image-radio-label">
                <%= image_tag 'profiles/male-avatar-1.png', alt: 'Male Avatar 1', class: 'selectable-image' %>
              </label>
            </div>

            <div class="image-radio-item text-center">
              <%= form.radio_button :image, 'profiles/male-avatar-2.png', class: 'image-radio-input', id: 'male_avatar_2' %>
              <label for="male_avatar_2" class="image-radio-label">
                <%= image_tag 'profiles/male-avatar-2.png', alt: 'Male Avatar 2', class: 'selectable-image' %>
              </label>
            </div>

            <div class="image-radio-item text-center">
              <%= form.radio_button :image, 'profiles/male-avatar-3.png', class: 'image-radio-input', id: 'male_avatar_3' %>
              <label for="male_avatar_3" class="image-radio-label">
                <%= image_tag 'profiles/male-avatar-3.png', alt: 'Male Avatar 3', class: 'selectable-image' %>
              </label>
            </div>

      </div>
    </div>

        <div class="form-group">
          <div class="checkbox-group d-flex flex-wrap">
            <div class="tag-item">
              <%= form.check_box :gluten, class: 'tag-selector' %>
              <%= form.label :gluten, 'No Gluten', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :dairy, class: 'tag-selector' %>
              <%= form.label :dairy, 'No Lacteos', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :peanut, class: 'tag-selector' %>
              <%= form.label :peanut, 'No Nueces', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :seafood, class: 'tag-selector' %>
              <%= form.label :seafood, 'No comida marina', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :soy, class: 'tag-selector' %>
              <%= form.label :soy, 'No Soya', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :egg, class: 'tag-selector' %>
              <%= form.label :egg, 'No huevos', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :sesame, class: 'tag-selector' %>
              <%= form.label :sesame, 'No ajonjoli', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :sugar, class: 'tag-selector' %>
              <%= form.label :sugar, 'No Azucar', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :vegetarian, class: 'tag-selector' %>
              <%= form.label :vegetarian, 'Vegetariano', class: 'tag-selector-label' %>
            </div>
            <div class="tag-item">
              <%= form.check_box :vegan, class: 'tag-selector' %>
              <%= form.label :vegan, 'Vegano', class: 'tag-selector-label' %>
>>>>>>> master
            </div>
          </div>

<<<<<<< HEAD
          <div class="actions">
            <% if @profile.new_record? %>
              <%= form.submit 'Crear Perfil', class: "btn btn-primary btn-sm mt-4" %>
            <% else %>
              <%= form.submit 'Guardar y volver', class: 'btn btn-primary px-4 py-2 my-4' %>
            <% end %>
          </div>
        <% end %>
      </div>
=======
        <div class="actions d-flex">
          <% if @profile.new_record? %>
            <%= link_to "Volver a mis perfiles", user_profiles_path, class: "profile-button text-decoration-none" %>
            <%= form.submit 'Crear Perfil', class: "profile-button" %>
          <% else %>
            <%= link_to "Volver a mis perfiles", user_profiles_path, class: "profile-button text-decoration-none" %>
            <%= form.submit 'Guardar y volver', class: 'profile-button' %>
          <% end %>
        </div>
      <% end %>
    </div>
>>>>>>> master
  </div>
