<div class="container my-4">
  <div class="row d-flex justify-content-center">
    <div class="col-8 bg-white p-4 shadow">
      <h1>Perfiles de <%= @user.email %></h1>

      <% @profiles.each do |profile| %>
        <li>
          <strong>Perfil:</strong> <%= profile.username %>
          <%= link_to 'Ver Detalles', user_profile_path(@user, profile) %>
          <%= link_to 'Editar Detalles', edit_user_profile_path(@user, profile) %>
        </li>
      <% end %>
      <%= link_to 'Agregar un nuevo perfil', new_user_profile_path(@user) %>
    </div>
  </div>
</div>
6
