<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-10 bg-white p-4 shadow">
      <h1>Mis perfiles: <%= @user.email.split('@').first %></h1>
      <div class="profile-wrapper">
        <% @profiles.each do |profile| %>
          <div class="profile-item mt-4">
            <input class="profile-selector" type="radio" id="profile_<%= profile.id %>" name="profile" value="<%= profile.id %>">
            <label for="profile_<%= profile.id %>" class="profile-label">
              <%= link_to user_profile_path(@user, profile), class: "profile-link" do %>
                <div class="profile-content">
                  <div class="profile-name">
                    <strong><%= profile.username %></strong>
                  </div>
                </div>
              <% end %>
              <div class="edit-profile-icon">
                <%= link_to edit_user_profile_path(@user, profile), class: "btn btn-sm btn-light edit-link" do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </div>
            </label>
          </div>
        <% end %>
      </div>

      <!-- Circular Button for Adding a New Profile -->
      <div class="btn-add-profile text-center mt-3">
        <%= link_to new_user_profile_path(@user), class: "btn-add-profile" do %>
          <i class="fas fa-user-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
