<!-- navbar escritorio -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-none d-lg-flex sticky-top">
  <div class="container-fluid">
    <div class="logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "LaTrue-logo-lateral.png" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <p class="welcome btn-disabled me-3">Bienvenid@ <%= current_user.email.split('@').first %>!</p>


          <li class="welcome me-3 <%= 'active' if current_page?(root_path) %>">
            <%= link_to "Home", root_path, class: "nav-linkh btn" %>
          </li>

          <li class="nav-item dropdown">

            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar-initials">
                <%= current_user.initials %>
              </div>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mis Perfiles", user_profiles_path(current_user), class: "dropdown-item" %>
              <%= link_to "Mi Historial", user_profile_historicals_path(user_id: current_user.id, profile_id: @profile.id), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>

            </div>
          </li>
        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<%# navbar celular %>
<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light d-lg-none fixed-bottom mb-12">
    <div class="container-fluid">
      <div class="d-flex justify-content-around align-items-center w-100">
        <ul class=" dropup mb-12 ulc ">
          <a href="" class="avatar" id="navbarDropdownMobile" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar-initials mb-12">

              <%= current_user.initials %>
            </div>
          </a>
          <div class="dropdown-menu dropdown-slide-up" aria-labelledby="navbarDropdownMobile">
            <%= link_to "Mis Perfiles", user_profiles_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </ul>



        <div class="nav-item text-center">
          <% if current_user && (params[:profile_id] || @profile&.id) %>
            <%= link_to new_user_profile_barcode_path(user_id: current_user.id, profile_id: @profile.id), class: "nav-link" do %>
              <i class="fas fa-camera" style="font-size: 2.5rem;"></i>
              <p class="small mb-0">Escanear</p>
            <% end %>
          <% end %>
        </div>

        <div class="nav-item text-center">
          <%= link_to user_profile_historicals_path(user_id: current_user.id, profile_id: @profile.id), class: "nav-link" do %>
            <i class="fa-solid fa-clipboard-list" style="font-size: 2.5rem;"></i>
            <p class="small mb-0">Historial</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
