<!-- navbar para escritorio -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-none d-lg-flex fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "LaTru-logo.png" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <p class="welcome btn-disabled me-3">Bienvenid@ <%= current_user.email.split('@').first %>!</p>

          <li class="welcome me-3 <%= 'active' if current_page?(root_path) %>">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "profile.jpg", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mis Perfiles", user_profiles_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<!-- navbar para celular -->
<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light d-lg-none fixed-bottom">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center w-100">
        <!-- Profile Dropdown -->
        <ul class="nav-item dropup">
          <a href="#" class="avatar" id="navbarDropdownMobile" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "profile.jpg", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-slide-up" aria-labelledby="navbarDropdownMobile">
            <%= link_to "Mis Perfiles", user_profiles_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </ul>

        <!-- Iconos celular -->
        <div class="d-flex justify-content-around align-items-center w-100">
          <!-- Icono de Cámara-->
          <div class="nav-item text-center">
            <%= link_to new_user_profile_barcode_path(user_id: current_user.id, profile_id: current_user.profiles.first.id), class: "nav-link" do %>
              <i class="fas fa-camera" style="font-size: 2.5rem;"></i>
              <p class="small mb-0">Escáner</p>
            <% end %>
          </div>

          <!-- Icono de Historial -->
          <div class="nav-item text-center">
            <%= link_to user_profile_historicals_path(user_id: current_user.id, profile_id: current_user.profiles.first.id), class: "nav-link" do %>
              <i class="fas fa-history" style="font-size: 2.5rem;"></i>
              <p class="small mb-0">Historial</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
