<h1>Historial de Escaneo</h1>

<% if @historicals.any? %>
  <div class="row">
    <% @historicals.each do |historical| %>
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body d-flex align-items-center">
            <!-- Placeholder de la imagen del producto -->
        <div class="me-3">
          <% if historical.product.photos.attached? %>
            <%= cl_image_tag(historical.product.photos[0].key, width: 100, height: 100, crop: :fill)%>
          <% else %>
            <i class="fas fa-image fa-3x"></i> <!-- Mostrar ícono si no hay imagen -->
          <% end %>
        </div>
            <!-- Información del producto -->
            <div>
              <h5 class="card-title mb-1"><%= historical.product.name %></h5>
              <p class="card-text">
                <% if historical.results %>
                  <span class="text-success  ms-auto">
                    <i class="fas fa-thumbs-up"></i> <strong>Producto APTO para consumo</strong>
                  </span>
                <% else %>
                  <span class="text-danger  ms-auto">
                    <i class="fas fa-thumbs-down"></i> <strong>Producto NO APTO para consumo</strong>
                  </span>
                <% end %>
              </p>
               <p class="card-text">
                 <%= time_ago_in_words(historical.created_at) %>
               </p>
            </div>
            <!-- Enlace que cubre toda la tarjeta -->
            <a href="<%= user_profile_historical_path(@user, @profile, historical) %>" class="stretched-link"></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-warning" role="alert">
    No hay historiales para mostrar.
  </div>
<% end %>
    <%= form_with url: user_profile_historicals_path, method: :get, class: "d-flex fixed-search" do %>
    <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Busca un producto escaneado"
          %>
        <%= submit_tag "Buscar", name: "", class: "btn btn-success" %>
      <% end %>
<%= link_to 'Volver al perfil', user_profile_path(@user, @profile), class: "btn btn-secondary" %>
