<h1 class="text-center my-4">Detalles del Producto</h1>

<div class="card mx-auto shadow-sm" style="width: 24rem;">
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title text-muted"><strong>Producto:</strong></h5>
      <p class="card-text font-weight-bold "><%= @product.name %></p>
      <div>
        <%= cl_image_tag(@historical.product.photos[0].key, width: 100, height: 100, crop: :fill)%>
      </div>
    </div>

    <h5 class="card-title text-muted"><strong>Resultado:</strong></h5>
    <p class="card-text result font-weight-bold">
      <% if @historical.results %>
        <span class="text-success"><strong>Producto APTO para consumo</strong></span>
        <span class="thumbs-up display-4">👍</span>
      <% else %>
        <span class="text-danger"><strong>Producto NO APTO para consumo</strong></span>
        <span class="thumbs-down display-4">👎</span>

      <% end %>
    </p>

    <h5 class="card-title text-muted"><strong>Registrado hace:</strong></h5>
    <p class="card-text">
      <%= time_ago_in_words(@historical.created_at) %>
    </p>

    <h5 class="card-title text-muted"><strong>Información del Producto:</strong></h5>
    <p class="card-text product-attribute">
      <% if @attributes_to_display.any? %>
        <% @attributes_to_display.each do |attribute| %>
          <%= attribute.capitalize.gsub('_', ' ') %><br>
        <% end %>
      <% else %>
        No hay restricciones relevantes.
      <% end %>
    </p>

    <div class="d-flex justify-content-between mt-4">
      <%= link_to 'Escanear otro', new_user_profile_barcode_path(@user, @profile), class: "btn btn-outline-primary btn-block" %>
      <%= link_to 'Compartir', '#', class: "btn btn-outline-success btn-block mx-2" %>
      <%= link_to 'Historial', user_profile_historicals_path(@user, @profile), class: "btn btn-outline-danger btn-block" %>
    </div>
  </div>
</div>
