<p>
  <%#= @product.set_product_attributes %>
 Nombre: <%= @product.name %> <br>
 Marca:  <%= @product.brand %> <br>
 Cantidad: <%= @product.quantity %> <br>
 Porciones por envase: <%= @product.portion_qty %> <br>
 Apto para gluten free: <%= @product.gluten %> <br>
 Apto para intolerante a la lactosa: <%= @product.dairy %> <br>
 Apto para alérgicos al maní: <%= @product.penaut %> <br>
 Apto para alérgicos a mariscos: <%= @product.seafood %> <br>
 Apto para alérgicos a la soya: <%= @product.soy %> <br>
 Apto para alérgicos al huevo: <%= @product.egg %> <br>
 Apto para alérgicos al sésamo: <%= @product.sesame %> <br>
 Apto para dietas con cero azúcar:  <%= @product.sugar %> <br>
 Apto para vegetarianos: <%= @product.vegetarian %> <br>
 Apto para veganos:   <%= @product.vegan %> <br>
 Calorías: <%= @product.calories %> <br>
 Grasas: <%= @product.fat %> <br>
 Grasas Saturadas: <%= @product.fat_trans %> <br>
 Carbohidratos: <%= @product.carb %> <br>
 Proteínas <%= @product.protein %> <br>
 Azúcar   <%= @product.sugarqty %> <br>

  <%#=  Cloudinary::Utils.cloudinary_url(@product.photos[0].key, secure: true) %>
<%# version = "1/development" %>
<%#= Cloudinary::Utils.cloudinary_url(@product.photos[0].key, version: version) %>


<%#= cl_image_path @product.photos[0].key %>
</p>
